---
import { Image } from 'astro:assets';

type Image = {
	src: string;
	alt: string;
	height?: number;
	width?: number;
}

interface Props {
	title: string;
	subtitle: string;
	tagline: string;
	heroImage: Image;
}

const { title, subtitle, tagline, heroImage } = Astro.props

---


<div class="hero-text">
	<div>
		<h1>{title}</h1>
	</div>
	<div>
		<h2>{subtitle}</h2>
	</div>
	<div>
		<p>{tagline}</p>
	</div>
</div>
<div class="hero-img-container">
	<picture class="hero-img">
		<source media="(max-width: 799px)" srcset={`${heroImage.src}?w=799`}>
		<source media="(min-width: 800px)" srcset={`${heroImage.src}?w=1200`}>
		<img src={heroImage.src} alt={heroImage.alt} height={heroImage.height} width={heroImage.width} style="width: 100%; height: auto;">
	</picture>
</div>

<style>
  .hero-text {
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
	}

	.hero-text h1 {
		font-size: 4rem;
	}

	.hero-text h2 {
		font-size: 2rem;
		font-weight: 400;
	}

	p {
		font-size: 1.15rem;
		text-align: left;
	}

	.hero-img-container {
		width: 40%;
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: center;
		border-radius: 0.5rem;
		box-shadow: 2px 2px 20px var(--site-orange);
	}

	.hero-img img{
		width: 100%;
		height: auto;
		border-radius: 0.5rem;
	}

	@media screen and (max-width: 844px) {
		.hero-text {
			width: 100%;
			align-items: center;
			justify-content: center;
		}
		.hero-text h1 {
			font-size: 3rem;
		}

		.hero-img-container {
			display: none;
		}
	} 
		
	
	@media screen and (min-width: 428px) and (max-width: 944px) {
		.hero-text {
			width: 95%;
			align-items: center;
			justify-content: center;
		}

		.hero-text h2 {
			font-size: 1.75rem;
		}

		
	}

</style>