---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home-page/Hero.astro';
import {getDatoCMSData} from '../api/dato-api';
import ProjectsSection from '../components/home-page/ProjectsSection.astro';
import BlogSection from '../components/home-page/BlogSection.astro';

const query = `
	 query HomePage {
		  homepage {
    		title
    		subTitle
				tagline
    		shortBio(markdown: true)
    		featuredProject {
      		slug
      		title
      		coverImage {
        		responsiveImage {
          		src
          		srcSet
          	webpSrcSet
        	}
      	}
    	}
  	}
		allBlogPosts(first: "4") {
			title
			slug
			publishedDate
  	}
	}
`

const data = await getDatoCMSData(query);
const {homepage, allBlogPosts} = data;
---

<Layout title="Robert Grunau">
	<main>
		<section>
			<Hero title={homepage.title} subtitle={homepage.subTitle} tagline={homepage.tagline}/>
		</section>
		<ProjectsSection 
			slug={homepage.featuredProject.slug} 
			image={homepage.featuredProject.coverImage.responsiveImage.src} 
			alt={homepage.featuredProject.coverImage.title}
			title={homepage.featuredProject.title}
		/>
		<BlogSection posts={allBlogPosts}/>
	</main>
</Layout>

<style>
	main {
		margin: 1rem auto;
		padding: 1rem;
		width: 100%;
		max-width: 1200px;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
	}

	section {
		margin: 1rem auto;
		padding: 1rem;
		width: 100%;
		max-width: 1200px;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}


	@media screen and (max-width: 600px) {
	main {
		display: flex;
		flex-direction: column;
	}

	section {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  @media screen and (max-width: 932px) {
    main {
      display: flex;
      flex-direction: column;
      padding: 0.25rem;
    }
    section {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
  }
		
	}

</style>
